includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  paths:
    - src

  bootstrapFiles:
    - tests/bootstrap-phpstan.php
    - src/types.php

  checkUninitializedProperties: true
  reportUnmatchedIgnoredErrors: true

  excludePaths:
    - vendor
    - tests
    - src/Providers/FlowlightServiceProvider.php
